.score-value{
    font-size: 75%;
}

.choice-col{
    cursor: pointer;
    background-color: aquamarine;
}

.choice-col:hover{
    background-color: chartreuse;
}

.row{
    margin: 10px 10px 10px 10px;
}