.score-value{
    font-size: 75%;
}

.choice-col{
    border-radius: 5px;
    cursor: pointer;
    background-color: aquamarine;
    /* box-shadow: 0px 0px 3px 3px black inset; */
}

.choice-col:hover, .choice-col:active{
    background-color: chartreuse;
}

.row{
    margin: 10px 10px 10px 10px;
}

.header-text{
    text-shadow: 2px 1px aquamarine, 
    1px 3px white;
    background-color: #dddddd;
}

.btn-myprime{
    background-color: aquamarine;
}

.btn-myprime:hover:enabled, .btn-myprime:active{
    background-color: chartreuse;
}

.btn-myprime:disabled{
    background-color: #aaaaaa;
}